@model List<ComputerEntry>

@{
    ViewData["Title"] = "Computers Page";
}

<h1>Computer Entries Index</h1>
<p>Our new Views/ComputerEntries/Index.cshtml page</p>

<div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Asset Tag</th>
                    <th scope="col">Serial Name</th>
                    <th scope="col">Manufacturer</th>
                    <th scope="col">Model</th>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">Warranty Exp</th>
                    <th scope="col">Location</th>
                    <th scope="col">Current User</th>
                    <th scope="col">Status</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Edit and Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var entry in Model)
                {
                    <tr class="table-secondary">
                        <td>@entry.AssetTag</td>
                        <td>@entry.SerialName</td>
                        <td>@entry.Manufacturer</td>
                        <td>@entry.Model</td>
                        <td>@entry.PurchaseDate</td>
                        <td>@entry.WarrantyExp</td>
                        <td>@entry.Location</td>
                        <td>@entry.CurrentUser</td>
                        <td>@entry.Status</td>
                        <td>@entry.LastUpdated</td>
                        <td>Edit and Delete!</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
